@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

</style>

<body>
    <h2>Manager Comment :</h2>
    <div class="container-fluid admin-artcles" style="text-align:center">
        <!-- DataTable -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 style="color:darkolivegreen">DataTables Comment</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    User (Customer)
                                </th>
                                <th>
                                    Detail Comment
                                </th>
                                <th>
                                    Time
                                </th>
                                <th>
                                    Product
                                </th>
                                <th>
                                    Option
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.AccCustomer.Name
                                    </td>
                                    <td>
                                        @item.Content
                                    </td>
                                    <td>
                                        @item.CreatedAt
                                    </td>
                                    <td>
                                        @item.Product.Name
                                    </td>
                                    <td>
                                        @if (!item.IsApprove)
                                        {
                                            <a asp-controller="Managers" asp-action="Approval" asp-route-id="@item.Id">Approval</a>
                                            <span>|</span>
                                        }
                                        <a asp-controller="Managers" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-header py-3">
                <p>
                    <a asp-controller="Managers" asp-action="Approval" asp-route-id="@null">Approval</a>
                    |
                    <a asp-controller="Managers" asp-action="Delete" asp-route-id="@null">Delete</a>
                </p>
            </div>
        </div>
    </div>
</body>
