@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{

}
<style>
    .px-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }

    .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        margin-left: auto;
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    .row {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        margin-left: calc(-0.5 * var(--bs-gutter-x));
    }

    .col-md-6 .col-xl-3 {
        flex: 0 0 auto;
    }
    .row > * {
        flex-shrink: 0;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-top: var(--bs-gutter-y);
    }

    .bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
    }
    .bg-warning {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-warning-rgb), var(--bs-bg-opacity)) !important;
    }
    .bg-success {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
    }
    .bg-danger {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
    }


    .text-white {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
    }
    .mb-4 {
        margin-bottom: 1.5rem !important;
    }
    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

    .text-white {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
    }

    .card-footer:last-child {
        border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }

    .align-items-center {
        align-items: center !important;
    }

    .justify-content-between {
        justify-content: space-between !important;
    }

    .d-flex {
        display: flex !important;
    }

    .card-footer {
        padding: 0.5rem 1rem;
        background-color: rgba(0, 0, 0, 0.03);
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }

    .text-white {
        --bs-text-opacity: 1;
        color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
    }

    small, .small {
        font-size: 0.875em;
    }

    a {
        color: #0d6efd;
        text-decoration: underline;
    }

    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }
    .card-header {
        padding: 0.5rem 1rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

    .card-body {
        flex: 1 1 auto;
        padding: 1rem 1rem;
    }

    .chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
        position: absolute;
        direction: ltr;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        pointer-events: none;
        visibility: hidden;
        z-index: -1;
    }

    .card-footer:last-child {
        border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }

    .text-muted {
        --bs-text-opacity: 1;
        color: #6c757d !important;
    }

    .card-footer {
        padding: 0.5rem 1rem;
        background-color: rgba(0, 0, 0, 0.03);
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<body>

    <div class="container-fluid px-4">
        <h2>Number Page manager</h2>
        
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body">Number User: @Model.totalUser.Count</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a asp-area="" asp-controller="Managers" asp-action="Manager_Account" class="small text-white stretched-link">View Num_User</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body">Sell: @Model.totalSell.Count</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a asp-area="" asp-controller="Managers" asp-action="List_Bill" class="small text-white stretched-link">View Sell/Bill</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body">Num Product: @Model.totalProduct.Count</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a asp-area="" asp-controller="Managers" asp-action="Product" class="small text-white stretched-link">View Product</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                    <div class="card-body">Submit Comment: @Model.totalComment.Count</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a asp-area="" asp-controller="Managers" asp-action="List_Comment" class="small text-white stretched-link">View Comment</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h5>Dashbroard for Manager in timeline</h5>
            </div>
            <div class="card-body">
                <canvas id="myChart" style="width:100%;max-width:600px">
                    <script>
                        var xValues = [@DateTime.Now.Day, @DateTime.Now.AddDays(-1).Day, @DateTime.Now.AddDays(-2).Day, @DateTime.Now.AddDays(-3).Day, @DateTime.Now.AddDays(-4).Day, @DateTime.Now.AddDays(-5).Day, @DateTime.Now.AddDays(-6).Day, @DateTime.Now.AddDays(-7).Day, @DateTime.Now.AddDays(-8).Day, @DateTime.Now.AddDays(-9).Day];

                        new Chart("myChart", {
                            type: "line",
                            data: {
                                labels: xValues,
                                datasets: [{
                                    data: [100, 20, 20, 10, 80, 10, 40, 25, 16, 10],
                                    borderColor: "red",
                                    fill: false
                                }, {
                                    data: [10, 40, 25, 16, 10, 10, 40, 25, 16, 10],
                                    borderColor: "green",
                                    fill: false
                                }, {
                                    data: [25, 16, 10, 10, 40, 25, 16, 10, 20, 10],
                                    borderColor: "blue",
                                    fill: false
                                }]
                            },
                            options: {
                                legend: { display: false }
                            }
                        });
                    </script>
                </canvas>

            </div>
            <div class="card-footer small text-muted">Update in 2mins.</div>
        </div>
    </div>
    
</body>
