@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Bonsal_Gardent.Models.Product
@{
    ViewData["Title"] = "Details";
}
<style>
	img {
	max-width: 100%; }

	.preview {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column; }

	.preview {
		margin-bottom: 20px; } 

	.preview-pic {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
			flex-grow: 1; }

	.preview-thumbnail.nav-tabs {
	border: none;
	margin-top: 15px; }
	.preview-thumbnail.nav-tabs li {
	width: 18%;
	margin-right: 2.5%; }
	.preview-thumbnail.nav-tabs li img {
		max-width: 100%;
		display: block; }
	.preview-thumbnail.nav-tabs li a {
		padding: 0;
		margin: 0; }
	.preview-thumbnail.nav-tabs li:last-of-type {
		margin-right: 0; }

	.tab-content {
	overflow: hidden; }
	.tab-content img {
	width: 100%;
	-webkit-animation-name: opacity;
			animation-name: opacity;
	-webkit-animation-duration: .3s;
			animation-duration: .3s; }

	.card {
	padding: 2em;
	line-height: 1.5em; }


	.wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; } 

	.details {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column; }

	.colors {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
			flex-grow: 1; 
	}

	.product-title, .price, .sizes, .colors {
	font-weight: bold; }

	.product-title, .rating, .product-description, .price, .vote, .sizes {
	margin-bottom: 15px; }

	.product-title {
	margin-top: 0; }

	.size {
	margin-right: 10px; }
	.size:first-of-type {
	margin-left: 40px; }

	.color {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	height: 2em;
	width: 2em;
	border-radius: 2px; }
	.color:first-of-type {
	margin-left: 20px; }

	.add-to-cart {
	background: #ff9f1a;
	padding: 1.2em 1.5em;
	border: none;
	text-transform: UPPERCASE;
	font-weight: bold;
	color: #fff;
	-webkit-transition: background .3s ease;
			transition: background .3s ease; }

	.add-to-cart:hover {
	background: #b36800;
	color: #fff; }

	container{
		padding: 20px !important;
		border-top: 0;
		box-shadow: 2px 2px 20px #00000017;
	}


	.img-sm {
		width: 46px;
		height: 46px;
	}

	.panel {
		box-shadow: 0 2px 0 rgba(0,0,0,0.075);
		border-radius: 0;
		border: 0;
		margin-bottom: 15px;
	}

		.panel .panel-footer, .panel > :last-child {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		.panel .panel-heading, .panel > :first-child {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

	.panel-body {
		padding: 25px 20px;
	}


	.media-block .media-left {
		display: block;
		float: left
	}

	.media-block .media-right {
		float: right
	}

	.media-block .media-body {
		display: block;
		overflow: hidden;
		width: auto
	}

	.middle .media-left,
	.middle .media-right,
	.middle .media-body {
		vertical-align: middle
	}

	.thumbnail {
		border-radius: 0;
		border-color: #e9e9e9
	}

	.tag.tag-sm, .btn-group-sm > .tag {
		padding: 5px 10px;
	}

	.tag:not(.label) {
		background-color: #fff;
		padding: 6px 12px;
		border-radius: 2px;
		border: 1px solid #cdd6e1;
		font-size: 12px;
		line-height: 1.42857;
		vertical-align: middle;
		-webkit-transition: all .15s;
		transition: all .15s;
	}

	.text-muted, a.text-muted:hover, a.text-muted:focus {
		color: #acacac;
	}

	.text-sm {
		font-size: 0.9em;
	}

	.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
		line-height: 1.25;
	}

	.btn-trans {
		background-color: transparent;
		border-color: transparent;
		color: #929292;
	}

	.btn-icon {
		padding-left: 9px;
		padding-right: 9px;
	}

		.btn-sm, .btn-group-sm > .btn, .btn-icon.btn-sm {
			padding: 5px 10px !important;
		}

	.mar-top {
		margin-top: 15px;
	}

	hr:not([size]) {
		height: 1px;
	}

</style>
<body>
	<h5>Product:</h5>

	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">

						<div class="preview-pic tab-content">
							@if (Model.Pictures!.Any())
							{
								<div class="tab-pane active" id="pic-1"><img style="width: 590px; height: 372px" src="~/image/Pic/@Model.Pictures!.First().Path" /></div>
								<ul class="preview-thumbnail nav nav-tabs">
									@for (int i = 1; i < Model.Pictures!.Count; i++)
									{
										<li><a data-target="#pic-2" data-toggle="tab"><img style="width: 106px; height: 67px" src="~/image/Pic/@Model.Pictures.ToList()[i].Path" /></a></li>
									}
								</ul>
							}
							else
							{
								<div class="tab-pane active" id="pic-1"><img src="~/image/2022-09-24_140746.png" /></div>
							}
						</div>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">Name: @Model.Name</h3>
						<h4 class="price">Current Price: <span>@Model.Price VND</span></h4>
						<div class="action">
							<form asp-action="Order" asp-controller="Sell">
								<input name="amount" style="width: 40px" type="number"></input>
								<input name="productId" type="hidden" , value="@Model.Id"></input>
								<button class="add-to-cart btn btn-default" type="submit">add to cart</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h5>Info Product:</h5>

	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<p class="product-description">@Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Info))</p>
			    </div>
			</div>
		</div>
	</div>

	<hr class="mb-4">
	<h5>Comment Product:</h5>

	<div class="container bootdey">
		<div class="col-md-12 bootstrap snippets">
			<div class="panel">
				<div class="panel-body">
					<form asp-action="Add" asp-controller="Comment">
					<input type="hidden" value="@Model.Id" name="id"/>
					<textarea name="content" class="form-control" rows="2" placeholder="What are you thinking?"></textarea>
					<div class="mar-top clearfix">
						<button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i>Submit</button>
					</div>
					</form>
				</div>
			</div>
			<div class="panel">
				<div class="panel-body">
					<!-- Newsfeed Content -->
					<div class="media-block">
						@foreach (var item in Model.CommentProducts)
						{
							<a class="media-left" href="#"><img class="img-circle img-sm" alt="Profile Picture" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
							<div class="media-body">
								<div class="mar-btm">
									<a href="#" style="padding-left:10px" class="btn-link text-semibold media-heading box-inline"> @item.AccCustomer.Name</a>
									<p style="padding-left:10px" class="text-muted text-sm"><i class="fa fa-lg"></i>   @item.CreatedAt</p>
								</div>
								<p>
									@item.Content
								</p>

								<hr>

								<!-- Comments -->

							</div>
						}

						
					</div>
					<!--===================================================-->
					<!-- End Newsfeed Content -->
					<!-- Newsfeed Content -->
					<!--===================================================-->
					
					<!--===================================================-->
					<!-- End Newsfeed Content -->
				</div>
			</div>
		</div>
	</div>
</body>